{
  "mcpServers": {
    "data-contract-mcp-server": {
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/frothkoetter/data-contract-mcp-server.git@main",
        "run-server"
      ],
      "env": {
        "ATLAS_GATEWAY_URL": "https://<host>/<topology>/cdp-proxy-api/atlas/api/atlas/",
        "ATLAS_USER": "<your_username>",
        "ATLAS_PASS": "<your_password>"
      }
    }
  }
}
